{% extends 'base.html' %}

{% block content %}
<div class="row p-3">
  <div class="col-12 mb-3">
    {% include 'components/customer-status-widget.html' %}
  </div>

  <div class="col-12">
    <form class="form-inline p-3 rounded bg-light">
      <div class="form-group">
        <input name="" id="" class="btn btn-primary mr-2" type="submit" value="Search">
        <input type="text" name="" id="" class="form-control" placeholder="Search" aria-describedby="helpId">
      </div>
    </form>
  </div>

  <div class="col-12">
    <table class="table rounded bg-white mt-3">
      <thead>
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th>Date Ordered</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>

        {% for order in orders  %}
        <tr>
          <td>{{order.product.name}}</td>
          <td>{{order.product.category}}</td>
          <td>{{order.created_at}}</td>
          <td>{{order.status}}</td>
          <td>
            <a class="btn btn-primary" href="{% url 'update_order' order.id %}" role="button">Update</a>
          </td>
          <td>
            <a class="btn btn-danger" href="{% url 'delete_order' order.id %}" role="button">Remove</a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

</div>
{% endblock content %}