{% extends "base.html" %}

{% block content %}

<div class="row p-3">
  <div class="col-12 mb-3">
    {% include 'components/status.html' %}
  </div>
  <div class="col-md-6">
    <div class="d-block px-2">
      <h4 class="text-uppercase">Customer</h4>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">
            <button type="button" name="" id="" class="btn btn-primary  btn-block">Add Customer</button>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Customer</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>

        {% for customer in customers %}
        <tr>
          <td>
            <a name="" id="" class="btn btn-primary" href="{% url 'customer' customer.id %}" role="button">view</a>
          </td>
          <td>{{customer.name}}</td>
          <td>{{customer.phone}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <div class="d-block px-2">
      <h4 class="text-uppercase">Last 5 orders</h4>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th colspan="5">
            <button type="button" name="" id="" class="btn btn-primary  btn-block">Create Order</button>
          </th>
        </tr>
        <tr>
          <th>Product</th>
          <th>Date Ordered</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>

        {% for order in orders %}
        <tr>
          <td>{{order.product}}</td>
          <td>{{order.created_at}}</td>
          <td>
            {% if order.status == 'Pending' %}
            <span class="badge badge-pill badge-warning">{{order.status}}</span>
            {% endif %}

            {% if order.status == 'Out for delivery' %}
            <span class="badge badge-pill badge-primary">{{order.status}}</span>
            {% endif %}

            {% if order.status == 'Delivered' %}
            <span class="badge badge-pill badge-success">{{order.status}}</span>
            {% endif %}
          </td>
          <td><a name="" id="" class="btn btn-sm btn-primary" href="#" role="button">Update</a></td>
          <td><a name="" id="" class="btn btn-sm btn-danger" href="#" role="button">Remove</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}