<div class="row">
  <div class="col-md-4">
    <div class="card bg-light text-dark">
      <div class="card-header">
        Customer:
      </div>
      <div class="card-body">
        <a name="" id="" class="btn btn-outline-primary btn-sm btn-block" href="#" role="button">Update Customer</a>
        <a name="" id="" class="btn btn-outline-danger btn-sm btn-block" href="#" role="button">Delete Customer</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-light text-dark">
      <div class="card-header">
        Contact Information
      </div>
      <div class="card-body">
        <p>Email: </p>
        <p class="mb-0">Phone: </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-light text-dark">
      <div class="card-header">
        Orders Pending
      </div>
      <div class="card-body">
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
</div>