<div class="row">
  <div class="col-md-4">
    <div class="card bg-danger text-light">
      <div class="card-header">
        Total Orders
      </div>
      <div class="card-body">
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-success text-light">
      <div class="card-header">
        Orders Delivered
      </div>
      <div class="card-body">
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-primary text-light">
      <div class="card-header">
        Orders Pending
      </div>
      <div class="card-body">
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
</div>