{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>CRM1</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'app.css' %}">
  </head>
  <body class="bg-light">

{% include 'components/navbar.html' %}

    {% block content %}
      
    {% endblock content %}
      
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'app.js' %}"></script>
  </body>
</html>